.bg {
  background: linear-gradient(150deg, rgba(172, 60, 246, 0.2), #06061a);
}

.header {
  display: flex;
  justify-content: space-between;
  padding-inline: 1.25rem;
  padding-block: 1.25rem;
  max-width: 1366px;
  margin-inline: auto;
}

.header__logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav__ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav__a {
  color: inherit;
  text-decoration: none;
}

.header__icon-btn {
  display: none;
}

.header__icon {
  width: 1.75rem;
  weight: 1.75rem;
}

@media (width < 768px) {
  .header__nav {
    display: none;
  }

  .header__icon-btn {
    display: block;
  }
}
